.paraListItem {
    .icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    

    .title {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;
        position: relative;
        z-index: 100;
        span{
            font-size: 12px;
            color: #666;
            align-self:last baseline
        }
        text-shadow:
            0px 3px 0px #eee,
            2px 2px 0px #eee,
            3px 0px 0px #eee,
            2px -2px 0px #eee,
            0px -3px 0px #eee,
            -2px -2px 0px #eee,
            -3px 0px 0px #eee,
            -2px 2px 0px #eee
    }

    .content {
        margin-top: 5px;
        overflow: hidden;
        height: 65px;
    }

    table {
        table-layout: fixed;
        width: 100%;
        max-width: 400px;
    }

    td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 200px;
        height: 20px;
    }
}