.wikiView{
    * {
        word-break: break-all;
        transition: 0s;
        border: none;
        white-space: pre-wrap;
        transition: 0.2s;
    }

    .masterTitle{
        font-size: 180%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    h1,h2,h3,h4,h5,h6 {
        user-select: none;
        cursor: pointer;
        padding-bottom: 0.2rem;
        padding-top: 0.1rem;
        font-weight: bold;
        font-size: 110%;
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
        color:#333;
        letter-spacing: normal;
    }
    .foldImg{
        width: 15px;
        height: 15px;
        object-fit: contain;
        transition: 0.2s;
        margin-right: 5px;
    }
    .hFolded {
        color: #aaa;
        border: none;
        .foldImg{
            transform: rotate(-90deg);
        }
    }

    h1 {
        font-size: 140%;
        margin-top: 20px;
        margin-bottom: 5px;
        .paraTitleSep{
            height: 0.5px;
            background-color: #ccc;
            flex-grow: 2;
        }
        .editBtn{
            font-size:14px;
            color:#666;
            font-weight: normal;
            margin-right: 10px;
            white-space: nowrap;
            a{
                color: inherit;
            }
        }
        .editBtn:hover{
            color:cornflowerblue;
            text-decoration: underline;
        }
    }

    .paraTitleHidden, .paraTitleHiddenKeepingMargin{
        display: none;
    }
    .paraTitleHiddenKeepingMargin + *{
        margin-top: 20px;
    }

    .para {
        max-width: 1100px;
        min-width: 200px;
        overflow-x: auto;
        margin: auto;
    }

    i {
        color: gray
    }

    p {
        text-indent: 0.8em;
        margin-top: 0.1em;
        margin-bottom: 0.6em;
        margin-left: 0.3em;
        line-height: 1.7rem
    }

    a {
        color: cornflowerblue;
        text-decoration: none;
    }
    a:hover {
        color: rgb(64, 114, 206);
        text-decoration: underline;
    }

    div.indent {
        margin-left: 6px;
        padding-left: 3px;
        height: fit-content;
        overflow-x: auto;
    }

    h1+div.indent{
        margin-left: 0px;
        padding-left: 0px;   
    }

    div.indent.indentFolded {
        height: 0px;
    }

    h4+div.indent,
    h3+div.indent,
    h2+div.indent {
        border-left: 1px solid #aaa;
    }


    ul {
        list-style-type: disc;
        margin: 10px 0px 10px 22px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    li {
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px #ddd solid;
    }

    .titledList{
        background-color: #eee;
        width: fit-content;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        border: 2px solid cornflowerblue;
        ul{
            margin-top: 8px;
            margin-bottom: 0px;
            margin-right: 5px;
        }
        li{
            border-color: #ccc;
        }
        .titledListTitle{
            font-size: 110%;
            font-weight: bold;
            margin: 0.2rem;
            margin-left: 16px;
        }
    }

    img.wikiInlineImg {
        object-fit: contain;
        display: inline;
        height: 2rem;
        border-radius: 0px;
        max-width: 1000px;
        vertical-align: middle;
        margin:0px 3px 0px 3px;
    }

    .imgPara{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8px;
        gap: 5px;
        img{
            max-height: 280px;
            max-width: 280px;
            object-fit: contain;
            cursor: pointer;
        }
        div{
            color:#aaa;
            text-align: center;
        }
    }
    audio{
        display: block;
        margin: 10px auto 10px auto;
    }
    video{
        display: block;
        max-height: 800px;
        max-width: 100%;
        margin: 10px auto 10px auto;
    }
    .filePara{
        text-align: center;
        margin: 15px;
        .fileHint{
            color:#aaa;
            font-size: 16px;
        }
        a{
            color: cornflowerblue;
            font-size: 20px;
            &:hover{
                text-decoration: underline;
            }
        }
    }


    div.imgAnno {
        color: #aaa;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div.quote {
        margin: 10px;
        margin-left: 1em;
        padding: 5px;
        padding-right: 15px;
        border-left: 5px solid #999;
        color: #666;
        background-color: #eee;
    }

    .sep {
        background-color: #aaa;
        height: 0.7px;
        margin: 10px 10px 10px 10px
    }

    .coloredBlock {
        display: inline-block;
        height: 1em;
        width: 2em;
        vertical-align: middle;
        margin: 0px 3px 0px 3px;
        background-color: #000;
    }

    .refbodies {
        color: #666;
        font-size: small;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-top: 30px;
    }

    a.ref {
        cursor: pointer;
        margin-right: 5px;
    }

    a.ref:hover {
        text-decoration: underline;
    }

    a.refentry {
        cursor: pointer;
    }

    a.refentry:hover {
        text-decoration: underline;
    }

    table{
        margin: auto;
        td{
            min-width: 50px;
            min-height: 20px;
        }
        tr{
            min-height: 20px;
        }
        p{
            margin: 0.1em;
            line-height: 1.5em;
            text-indent: 0px;
        }
        *[data-autb-sticky-top]{
            position: sticky;
            top: 0px;
            z-index: 8;
            box-shadow: 0px 0px 1px 2px white;
        }
        *[data-autb-sticky-left]{
            position: sticky;
            left: 0px;
            z-index: 7;
            box-shadow: 0px 0px 1px 2px white;
        }
        *[data-autb-sticky-left][data-autb-sticky-top]{
            z-index: 9;
        }
    }

    .footNotes{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-top: 30px;
    }

    marquee{
        display: block;
    }

    a.redLink{
        color: red;
        text-decoration: underline;
    }

    code{
        font-family: consolas, menlo, mono;
        background-color: #eee;
        margin: 1px;
        padding: 1px;
        border-radius: 5px;
        color: #333;
    }
}