.icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.paraListItem{
    position: absolute;
    top:0px;bottom: 0px;
    left:0px;right: 40px;
    padding: 7px;
}
.title{
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:6px;
    white-space: nowrap;
    position: relative;
    z-index: 100;
}
.content{
    margin-top:5px;
    overflow: hidden;
    height: 65px;
}