.wikiView * {
    word-break: break-all;
    transition: 0.5s;
    border:none;
}

.wikiView h1,h2,h3,h4,h5,h6 {
    cursor: pointer;
    padding-bottom: 0.2rem;
    padding-top: 0.1rem;
    font-weight: bold;
    font-size: 120%;
    margin-top: 0.5rem;
    padding-left: 0.3rem;
}
.wikiView .hFolded{
    background-color: plum;
    color:white;
    border:none;
}

.wikiView h1 {
    font-size: 140%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.wikiView .para {
    max-width: 1000px;
    min-width: 200px;
    overflow-x: auto;
    margin: auto;
}

.wikiView i {
    color: gray
}

.wikiView p {
    text-indent: 0.8em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    line-height: 1.7rem
}

.wikiView a {
    color: cornflowerblue;
    text-decoration: none;
}

.wikiView div.indent {
    padding-left: 10px;
    border-left: 1.5px solid transparent;
    height: fit-content;
    overflow: hidden;
}
.wikiView div.indent.indentFolded{
    height: 0px;
}

.wikiView 
h3:hover+div.indent,
h2:hover+div.indent,
h1:hover+div.indent {
    border-left: 1.5px solid #aaa;
}

.wikiView table * {
    text-indent: 0px !important;
}

.wikiView ul {
    list-style-type: none !important;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.wikiView li {
    margin-bottom: 5px;
    background-color: #aaa;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.wikiView img.wikiInlineImg {
    object-fit: contain;
    display: inline;
    height: 2rem;
    border-radius: 0px;
    max-width: 1000px;
}

.wikiView div.imgAnno {
    color: #aaa;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wikiView div.quote {
    margin: 10px;
    margin-left: 1em;
    padding: 5px;
    border-left: 5px solid #888;
    color: #888;
    background-color: #ddd;
}

.wikiView .sep {
    background-color: black;
    height: 2px;
    margin: 10px 0px 10px 0px
}

.wikiView .coloredBlock {
    display: inline-block;
    height: 1em;
    width: 2em;
    background-color: #000;
}

.wikiView .refbodies{
    color:#666;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
    margin-top: 30px;
}
.wikiView a.ref{
    cursor: pointer;
    margin-right: 5px;
}
.wikiView a.ref:hover{
    text-decoration: underline;
}
.wikiView a.refentry{
    cursor: pointer;
}
.wikiView a.refentry:hover{
    text-decoration: underline;
}