::highlight(bold) {
    color: rgb(65, 196, 100);
}
::highlight(italic) {
    color: rgb(98, 190, 147);
}
::highlight(lineThrough){
    color: rgb(146, 191, 180);
}

::highlight(subtitle){
    color: rgb(201, 229, 255);
    text-decoration: underline;
}

::highlight(footnoteEntry){
    color: rgb(117, 161, 255);
}
::highlight(footnoteBody){
    color: rgb(120, 120, 120);
}

::highlight(quote){
    color: rgb(73, 187, 101)
}
::highlight(list){
    color: rgb(255, 213, 75)
}
::highlight(implant){
    color: rgb(255, 136, 180);
}
::highlight(color){
    color: rgb(219, 142, 255)
}
::highlight(sep){
    color: rgb(159, 159, 159)
}

::highlight(styleTag){
    color: rgb(209, 174, 174)
}
::highlight(template){
    color: rgb(255, 226, 173);
}

::highlight(link){
    color: rgb(255, 129, 129);
    text-decoration: underline;
}
::highlight(anchorLink){
    color: rgb(255, 129, 129);
    text-decoration: underline;
}
::highlight(anchorText){
    color: rgb(255, 215, 198);
}